@import "@/app/styles/mixins/mixins.scss";
@import "@/app/styles/variables/palette.scss";

.Tags{
	width: 100%;
	@include FlexDirection(start);
	gap: 10px;
}

.wrapperTags {
	width: 100%;
	@include FlexContainer(start);
	gap: 20px;
}

.errorTags {
	font-size: 14px;
	color: $color11;
 }
