@import "@/app/styles/mixins/mixins.scss";

.HomeAddTaskPanel {
  width: 80%;
  @include FlexContainer(end);
  gap: 20px;
  padding: 20px 0;
  cursor: pointer;

  svg {
    &:hover {
      transform: scale(1.1);
    }
  }
}
