@import '@/app/styles/mixins/mixins.scss';
@import '@/app/styles/variables/palette.scss';

.TasksList {
  width: 100%;
  height: 100%;
  overflow: auto;
  @include FlexDirection();
  justify-content: flex-start;
  gap: 2px;
}
